# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [16]:
def lesser_of_two_evens(a,b):
    
    
    if a % 2 and b % 2:
        if b < a:
            return a
        if a > b:
            return b
    else:
        if a < b:
            return b
        else:
            return a   
    
    pass

In [17]:
# Check
lesser_of_two_evens(2,4)

4

In [18]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [35]:
def animal_crackers(text):
    x = text.split()
    if (x[0][0] == x[1][0]):
        return True
    else:
         return False
    pass

In [36]:
# Check
animal_crackers('Levelheaded Llama')

True

In [37]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [38]:
def makes_twenty(n1,n2):
    if (n1==20 or n2==20 or (n1+n2)==20):
         return True
    else:
         return False
    pass

In [39]:
# Check
makes_twenty(20,10)

True

In [40]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [48]:
def old_macdonald(name):
    x = list(name)
    x[0] = x[0].upper()
    x[3] = x[3].upper()
    return ''.join(x)
    
    pass

In [49]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [59]:
def master_yoda(text):
    
    x=text.split()

    x.reverse()

    return " ".join(x)
    
    pass

In [60]:
# Check
master_yoda('I am home')

'home am I'

In [61]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [66]:
def almost_there(n):
    
    if n in range(90,110):
        return True
     
    elif n in range(190, 210):
         return True
    else:
         return False
    pass

In [67]:
# Check
almost_there(104)

True

In [68]:
# Check
almost_there(150)

False

In [69]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [173]:
def has_33(nums):
    for x in nums:
        if (nums[x] == 3) and (nums[x+1] == 3) :
            return True
        
        return False 

    pass

In [174]:
# Check
has_33([1, 3, 3])

True

In [175]:
# Check
has_33([1, 3, 1, 3])

False

In [179]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [213]:
def paper_doll(text):
    char=''
    for i in text:
        char = char +(i*3)
    print(char)
        
    pass

In [214]:
# Check
paper_doll('Hello')

HHHeeellllllooo

In [215]:
# Check
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [264]:
def blackjack(a,b,c):

    
    if ( (a+b+c) <=21):
        return (a+b+c) 
    
    elif ((a+b+c) > 21 and 11 in (a,b,c)):
        return sum((a,b,c)) - 10
    else:
        return 'bust'

In [265]:
# Check
blackjack(5,6,7)

18

In [266]:
# Check
blackjack(9,9,9)

'bust'

In [267]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [285]:
def summer_69(arr):
    x = arr
    summer = int()
    for i in range(0, len(arr)):
        if 6 in x:
            list_range = range(x.index(6), x.index(9) +1)
            for index in list_range:
                    print(list_range)
                    arr[index] = 0
            if 6 != arr[i]:
                summer += arr[i]
            else:
                continue
        else:
            summer += arr[i]
    return summer
    pass

In [286]:
# Check
summer_69([1, 3, 5])

9

In [287]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

range(2, 6)
range(2, 6)
range(2, 6)
range(2, 6)

9

In [288]:
# Check
summer_69([2, 1, 6, 9, 11])

range(2, 4)
range(2, 4)

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [355]:
def spy_game(nums):
    
    for x in range(0,len(nums)-2):

        if nums[x] == 0 and nums[x+1] == 0 and nums[x+2]==7:
            return True
    return False
pass

In [356]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [357]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [358]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [389]:
def count_primes(num):
    counter = 0
    for n in range(2,num+1):
        prime=True
        for i in range(2,n):
            if(n%i == 0):
                prime=False
                break
        if prime:
            counter += 1
    return counter
    pass

In [390]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!